@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --text-color: #78859a;
  --text--color-bold: #34445d;
}

.card {
  width: 552px;
  height: 600px;
  border-radius: 18px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 6px #ccc;
  margin: auto;
  padding: 35px;
  box-sizing: border-box;
  color: var(--text-color);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.box {
  border: 1px solid red;
  text-align: center;
  font-size: 4rem;
}
.box__user_requests {
  grid-column: 1/4;
}
.box-2 {
  grid-column: 4/5;
}
.box-3 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.box-4 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.box-5x {
  grid-column: 1/5;
}

.box__user_requests {
  font-size: 1.25rem;
  border: none;
}
.box__user_requests strong {
  color: var(--text--color-bold);
  padding-right: 0.67rem;
}
.flex {
  display: flex;
}
